@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	margin: 0;
}
.header {
	position: relative;
	width: 1920px;
	height: 980px;
	margin: 0 auto 169px;
	&-top {
		position: relative;
		margin-top: 0;
		width: 1920px;
		height: 85px;
		&_logo {
			position: absolute;
			top: 30.32px;
			left: 274.97px;
		}
		&_nav {
			position: absolute;
			top: 17px;
			left: 527px;
			width: 557px;
			& ul {
				display: flex;
				justify-content: space-between;
				list-style: none;
				align-items: center;
				& li {
					& a {
						text-decoration: none;
						font-family: Lato;
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						color: #292929;
					}
				}
			}
		}
		&_form {
			position: absolute;
			width: 277px;
			height: 51px;
			top: 17px;
			left: 1367px;
			display: flex;
			align-items: center;
			& a {
				font-family: Lato;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: #000000;
				width: 59px;
				text-decoration: none;
				margin-right: 35px;
			}
			& button {
				outline: none;
				width: 183px;
				height: 51px;
				border-radius: 4px;
				background-color: #01996D;
				border: 1px solid #01996D;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 13px 50px;
				cursor: pointer;
				& span {
					width: 150px;
					font-family: Lato;
					font-weight: 400;
					font-size: 20px;
					color: #FFFFFF;
				}
			}
		}
	}
	&-bg {
		position: absolute;
		top: 86px;
		border-top:1px solid #D6D6D6;
	}
	&-headline {
		position: absolute;
		width: 440px;
		height: 384px;
		left: 275px;
		top: 261px;
		&_title {
			width: 440px;
			height: 148px;
			font-family: Georgia;
			font-style: normal;
			font-weight: bold;
			font-size: 65px;
			line-height: 74px;
			color: #01996D;
			margin-bottom: 30px;
		}
		&_lead {
			width: 420px;
			height: 123px;
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 31px;
			color: #484848;
			margin-bottom: 18px;
		}
		&_btn {
			& button {
				outline: none;
				width: 227px;
				height: 65px;
				background: #01996D;
				border: 1px solid #01996D;
				box-sizing: border-box;
				border-radius: 4px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px 50px;
				cursor: pointer;
				& span {
					width: 180px;
					height: 40px;
					font-family: Lato;
					font-style: normal;
					font-weight: normal;
					color: #FFFFFF;
					font-size: 20px
				}
			}
		}
	}
}
.info {
	width: 1413px;
	margin: 0 auto 51px;
	position: relative;
	height: 1386px;
	&-up {
		position: absolute;
		top: 0;
		width: 1413px;
		height: 327px;
		&_title {
			padding-left: 0;
			padding-top: 0;
			font-family: Lato;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			color: #424242;
		}
		&_lead {
			width: 584px;
			font-family: Georgia;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			color: #01996D;
			margin-top: 15px;
			padding-left: 0;
			line-height: 79px;
		}
		&_text {
			width: 671px;
			height: 269px;
			font-family: Lato;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #424242;
			position: absolute;
			margin-left: 720px;
			margin-top: -135px;
		}
	}
	&-01 {
		position: absolute;
		top: 245px;
		left: 0;
		width: 390px;
		height: 937px;
		&_title {
			width: 269px;
			height: 225px;
			left: 0;
			top: 0;
			&--number {
				width: 157px;
				height: 225px;
				position: absolute;
				font-family: Georgia;
				font-style: normal;
				font-weight: normal;
				font-size: 150px;
				line-height: 150%;
				text-align: center;
				color: rgba(1, 153, 109, 0.2);
			}
			&--lead {
				position: absolute;
				width: 181px;
				height: 45px;
				font-family: Georgia;
				font-style: normal;
				font-weight: bold;
				font-size: 30px;
				line-height: 150%;
				text-align: center;
				color: #000000;
				top: 135px;	
				left: 88px;	
			}
		}
		&_lead {
			width: 382px;
			height: 150px;
			font-family: Lato;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: #424242;
			margin-bottom: 60px;
			&:nth-child(3) {
				width: 441px;
			}
		}
	}
	&-02 {
		position: absolute;
		top: 532px;
		left: 485px;
		width: 390px;
		height: 937px;
		&_title {
			width: 269px;
			height: 225px;
			left: 0;
			top: 0;
			&--number {
				width: 157px;
				height: 225px;
				position: absolute;
				font-family: Georgia;
				font-style: normal;
				font-weight: normal;
				font-size: 150px;
				line-height: 150%;
				text-align: center;
				color: rgba(1, 153, 109, 0.2);
			}
			&--lead {
				position: absolute;
				display: block;
				width: 392px;
				height: 90px;
				font-family: Georgia;
				font-style: normal;
				font-weight: bold;
				font-size: 30px;
				line-height: 150%;
				text-align: center;
				color: #000000;
				top: 135px;	
				left: 35px;	
			}
		}
		&_lead {
			width: 382px;
			height: 150px;
			font-family: Lato;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: #424242;
			margin-bottom: 60px;
		}
	}
	&-03 {
		position: absolute;
		width: 441px;
		height: 856px;
		top: 299px;
		left: 972px;
		&_title {
			width: 226px;
			height: 225px;
			left: 0;
			top: 0;
			&--number {
				position: absolute;
				width: 175px;
				height: 225px;
				font-family: Georgia;
				font-style: normal;
				font-weight: normal;
				font-size: 150px;
				line-height: 150%;
				text-align: center;
				color: rgba(1, 153, 109, 0.2);
			}
			&--lead {
				position: absolute;
				width: 102px;
				height: 45px;
				font-family: Georgia;
				font-style: normal;
				font-weight: bold;
				font-size: 30px;
				line-height: 150%;
				text-align: center;
				color: #000000;
				top: 135px;
				left: 124px;
			}
		}
	}
}
.info-03_img {
	border-radius: 12px;
}
.lead {
	width: 441px;
	height: 90px;
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #424242;
	margin-bottom: 60px;
}
.info-02_img {
	margin-top: -65px;
}
.kayla {
	margin: 0 auto;
	width: 1920px;
	height: 922px;
	position: relative;
	margin-bottom: 120px;
	background: #245852;
	&-headline {
		position: absolute;
		top: 310px;
		left: 207px;
		width: 580px;
		height: 230px;
		&_title {
			width: 580px;
			height: 158px;
			font-family: Georgia;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 157%;	
			color: #FFFFFF;
			margin-bottom: 33px;
		}
		&_text {
			width: 580px;
			height: 39px;
			font-family: Lato;
			font-style: normal;
			font-weight: 600;
			font-size: 25px;
			line-height: 157%;
			color: #FFFFFF;
			margin-bottom: 57px;
		}
		&_btn {
			width: 240px;
			height: 65px;
			& button {
				width: 240px;
				height: 65px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px 50px;
				background: #01996D;
				border: 1px solid #01996D;
				box-sizing: border-box;
				border-radius: 4px;
				cursor: pointer;
				& span {
					height: 25px;
					width: 140px;
					font-family: Lato;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 25px;
					color: #FFFFFF;
				}
			}
		}
	}
	&-video {
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 229px;
		left: 818px;
		width: 895.84px;
		height: 516.11px;
		border-radius: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		&_rect {
			width: 80.85px;
			height: 80.85px;
			position: absolute;
			border-radius: 50%;
			border: 4px solid #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
}
.section {
	position: relative;
	width: 1370px;
	height: 648px;
	margin: 0 auto 168px;
	&_text {
		width: 584px;
		height: 413px;
		position: absolute;
		right: 0;
		top: 0;
		&-title {
			width: 584px;
			height: 207px;
			&--upper {
				width: 180px;
				height: 39px;
				font-family: Lato;
				font-style: normal;
				font-weight: 600;
				font-size: 25px;
				line-height: 157%;
				color: #424242;
				margin-bottom: 10px;
			}
			&--lower {
				width: 584px;
				height: 158px;
				font-family: Georgia;
				font-style: normal;
				font-weight: bold;
				font-size: 50px;
				line-height: 157%;
				color: #01996D;
			}
		}
		&-lead {
			width: 530px;
			height: 81px;
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 31px;
			color: #484848;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}
	&-img {
		background: rgba(1, 153, 109, 0.2);
		border-radius: 18.1125px;
		position: absolute;
		left: 60.686px;
		top: 0;
		& img {
			width: 638.69px;
			height: 573.26px;
			object-fit: cover;
			object-position: 10% 50%;
		}
	}
	&-card {
		position: absolute;
		width: 296.14px;
		height: 293.9px;
		filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
		left: 0;
		bottom: 0;
		background: #FFFFFF;
		border-radius: 3.72971px;
		&_title {
			width: 130.54px;
			height: 23.12px;
			font-family: Lato;
			font-style: normal;
			font-weight: 600;
			font-size: 14.49px;
			line-height: 157%;
			text-align: center;
			color: #000000;
			padding-left: 83px;
			padding-top: 22.64px;
		}
		&_line {
			width: 110.49px;
			height: 0px;
			border-top: 0.7px solid #000000;
			margin-top: 7.67px;
			text-align: center;
			margin-left: 93px;
			margin-bottom: 13.7px;
		}
		&_img {
			width: 57.44px;
			height: 57.44px;
			background: rgba(1, 153, 109, 0.2);
			border-radius: 50%;
			margin-left: 122px;
			margin-bottom: 10.44px;	
			& img {
				border-radius: 50%;
			}
		}
		&_name {
			width: 41.03px;
			height: 18.65px;
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 11.9351px;
			line-height: 157%;
			text-align: center;
			color: #000000;
			margin-left: 127.5px;
			margin-bottom: 20.24px;
		}
		&_text {
			width: 180px;
			height: 24.96px;
			font-family: Georgia;
			font-style: normal;
			font-weight: bold;
			font-size: 15.9292px;
			line-height: 157%;
			color: #000000;
			margin-left: 58px;
			margin-bottom: 15.93px;
		}
		&_lead {
			width: 135px;
			height: 16.46px;
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 10.6195px;
			line-height: 157%;
			text-align: center;
			color: #000000;
			margin-left: 48px;
			margin-bottom: 15.93px;
		}
		&_words {
			width: 135px;
			height: 16.46px;
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			font-size: 10.6195px;
			line-height: 157%;
			text-align: center;
			color: #000000;
			margin-left: 39px;
		}
	}
}
.footer {
	width: 1920px;
	height: 654px;
	margin: 0 auto;
	position: relative;
	background: #245852;
	&-column {
		position: absolute;
		top: 95px;
		left: 275px;
		& ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			& li {
				text-decoration: none;
				margin-bottom: 60px;
				&:last-child {
					margin-bottom: 0;
				}
				& a {
					font-family: Lato;
					font-style: normal;
					font-weight: 600;
					font-size: 25px;
					line-height: 30px;
					color: #FFFFFF;
					text-decoration: none;
					& span {
						font-family: Lato;
						font-style: normal;
						font-weight: 900;
						font-size: 40px;
						line-height: 55px;
						color: #FFFFFF;
					}
				}
			}

		}
	}
}
